*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.gradient{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #8A2BE2, #4B0082, #9400D3);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#principal .title h1{
    padding: 30px 10px;
    display: inline-block;
    color: #DDA0DD;
    font-size: 9ch;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    transition:.7s;
}


#principal a.describe{
    display:inline-block;
    padding: 10px 30px;
    color:#DDA0DD;
    background-color: transparent;
    border:2px solid #DDA0DD;
    margin-top: 20px;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

#principal a.describe:hover{
    color: white;
    font-weight: 500;
    background-color: #EE82EE;
    transition: .5s;
}